AZURE_OPENAI_API_KEY=YOUR_KEY_HERE
AZURE_OPENAI_ENDPOINT=https://<URL_HERE>/load-balancing/gpt-4o
AZURE_OPENAI_DEPLOYMENT=gpt-4o
AZURE_OPENAI_API_VERSION=2024-10-21
GRAPHIFY_OUT=<FULL_PATH_TO_CONTAINING_DIR>/graphify-out